////////////////
//   Colors   //
////////////////

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$cream: rgb(255, 252, 235);
$brown: rgb(138, 71, 42);
$grey:  rgb(242, 245, 239);


////////////////
//    Type    //
////////////////
$better-helv: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

h1 {
	font-family: $better-helv;
	font-size: 24vw;
	font-weight: 100;
	line-height: 1;
	letter-spacing: -0.05rem;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h2 {
    font-family: $better-helv;
	font-weight: 300;
	font-size: 1.35rem;
    text-rendering: optimizeLegibility;
}

h3 {
    font-family: $better-helv;
    font-size: 2rem;
    font-weight: 200;
    border-bottom: solid 1px darken($grey, 25%);
    margin: 0;
}

h4 {
    font-family: $better-helv; 
    font-size: 2.4rem;
    font-weight: 200;
    margin: 0;
}

@media (min-width: 48rem){
    h1 {
        font-size: 12vw;
    }
}



// Helpers
.group:after {
  content: "";
  display: table;
  clear: both;
}

.iw {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.outerwrapper {
    display: flex;
}



html,
body {
	margin: 0;
}


header {
	margin: 6vh auto 0;
	width: 90vw;
}

// Primary Sections
.intro {
	background: lighten($grey, 5%);
	height: 65vh;
	width: 100%;
}

.about {
	background: $grey;
	height: 100vh;
	padding-top: 2vw;
    width: 100%;

    .innercontainer {
        max-width: 95vw;
    }

	article {
		transition: width 0.7s ease-out;
	}
}

main {
	border-bottom: solid 5px $grey;
	border-top: solid 5px $grey;
	margin: 5vh auto;
	padding: 2% 0.25%;
	width: 90vw;
}

@media (min-width: 48rem) {
    .intro {
		border-top: solid 5px $grey;
		height: 95vh;
	}

	header {
		margin-top: 14vh;
		max-width: 40rem;
		width: 62vw;
	}

	main {
		margin: 2vh auto;
		max-width: 45rem;
		padding: 1.5% 0;
		width: 64vw;
	}
	.about {
        padding-top: 0;

		.innercontainer {
			margin: 0 auto;
			max-width: 60rem;
			width: 69vw;
		}

		article {
			flex: 50%;
		}
        
        p {
            font-family: $better-helv;
            font-size: 1.75rem;
            font-weight: 200;
            line-height: 1.4;
            text-align: justify;
        }
	}
}
